@model K22CNT4_NGUYENDANHTRUONG_2210900071.Models.Admin

@{
    ViewBag.Title = "NdtDetails";
}

<h2>Details</h2>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenAdmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("NdtEdit", "NdtEdit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "NdtIndex")
</p>
