@model K22CNT4_NGUYENDANHTRUONG_2210900071.Models.DonHang

<h2>Chi Tiết Đơn Hàng</h2>

<div>
    <h4>Thông Tin Đơn Hàng</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.ID</dd>

        <dt class="col-sm-2">Ngày Đặt</dt>
        <dd class="col-sm-10">@Model.NgayDat</dd>

        <dt class="col-sm-2">Người Dùng</dt>
        <dd class="col-sm-10">@Model.ID_NguoiDung</dd>

        <dt class="col-sm-2">Trạng Thái</dt>
        <dd class="col-sm-10">@Model.TrangThai</dd>
    </dl>

    <h4>Chi Tiết Đơn Hàng</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Sản Phẩm</th>
                <th>Số Lượng</th>
                <th>Giá</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var chiTiet in ViewBag.ChiTietDonHang)
            {
                <tr>
                    <td>@chiTiet.SanPham.TenSanPham</td>
                    <td>@chiTiet.SoLuong</td>
                    <td>@chiTiet.Gia</td>
                </tr>
            }
        </tbody>
    </table>

    @Html.ActionLink("Quay Lại", "Index", null, new { @class = "btn btn-secondary" })
</div>