@model K22CNT4_NGUYENDANHTRUONG_2210900071.Models.SanPham

<h2>Chi tiết sản phẩm</h2>

<div>
    <h3>@Model.TenSanPham</h3>
    <img src="@Url.Content("~/Images/" + @Model.HinhAnh)" alt="@Model.TenSanPham" />
    <p>Giá: @Model.Gia.ToString("C")</p>
    <p>Danh mục: @(Model.DanhMuc != null ? Model.DanhMuc.TenDanhMuc : "Không có danh mục")</p>
    <p>Mô tả: @Model.MoTa</p>
</div>

<a href="@Url.Action("NdtIndex", "SanPhams")">Quay lại danh sách</a>
