@model K22CNT4_NGUYENDANHTRUONG_2210900071.Models.DonHang

@{
    ViewBag.Title = "Xóa Đơn Hàng";
}

<h2>Xóa Đơn Hàng</h2>

<div>
    <h4>Đơn Hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ID_NguoiDung)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID_NguoiDung)
        </dd>
        <!-- Thêm các thuộc tính khác của đơn hàng nếu cần -->
    </dl>

    <h4>Bạn có chắc chắn muốn xóa đơn hàng này?</h4>
    @using (Html.BeginForm("DeleteConfirmed", "NdtDonHangs", new { id = Model.ID }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại danh sách", "NdtIndex", "NdtDonHangs", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
